@import "tailwindcss";

:root {
  --color-background: white;
  --color-dark-purple: #987ea3;
  --color-primary-text: #101828;
  --color-purple: #b5a1d4;
  --color-secondary-text: #364153;
  --color-surface: #f9f9f9;
  --color-surface-hover: #efefef;
  --foreground: #171717;
}

.dark {
  --color-background: #212121;
  --color-primary-text: #f3f4f6;
  --color-secondary-text: #99a1af;
  --color-surface: #181818;
  --color-surface-hover: #303030;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme inline {
  --color-background: var(--background);
  --color-dark-purple: var(--color-dark-purple);
  --color-foreground: var(--foreground);
  --color-primary-text: var(--color-primary-text);
  --color-purple: var(--color-purple);
  --color-secondary-text: var(--color-secondary-text);
  --color-surface: var(--color-surface);
  --color-surface-hover: var(--color-surface-hover);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
  --font-source-code: "Source Code Pro", sans-serif;
}

@layer base {
  a {
    color: var(--color-purple);
  }

  a:hover {
    color: var(--color-dark-purple);
    transition-duration: 0.6s;
  }
}