@import "tailwindcss";

@font-face {
  font-family: "glt-gonunne";
  src: url("/fonts/GLT-GonunneStroke-010Thin.otf");
}

@theme {
  --color-dark: #0d1117;
  --color-dark-purple: #987ea3;
  --color-light: #f8faff;
  --color-purple: #b5a1d4;
  --font-source-code: "Source Code Pro", sans-serif;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}